* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #ff65a3;
  text-align: center;
}


.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 50px;
  border:solid #ffc8dd ;
  box-shadow: 0 0 16px #ffafcc;
  font-size: 8vmin;
  color: #ffc2d1;

}

#reset-btn {
  padding: 5px;
  font-size: 20px; 
  cursor: pointer;
  position: absolute;
  top: calc(50% + 8px); /* Adjust the value as needed */
  border-radius: 15px;
  right: 10px;
  background-color: #ffc8dd;
  color: palevioletred;
  border: solid #ffb2cf;
  box-shadow:0 0 2px #fba8c8;
}

#msg {
  color: #ffc7e3;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
 
}
.hide {
  display: none;
}
}
